<!DOCTYPE html>
<html>

<head>
    <title>Baby Store</title>
</head>

<body class="body">
{% include 'navbar.html' %}

<style>
body{
    font-size: medium;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
       
</style>
{% if messages %}
    {% for message in messages %}
        <ul> {{message}} </ul>
    {% endfor %}
{% endif %}
{% block content %}

{% endblock %}
<footer style="max-height: min-content;">
    <h4 style="text-align: left;"><a href="{% url 'home' %}">Home</a></h4>
</footer>


</body>

</html>