{% extends 'main.html' %}

{% block content %}
<form action="{% url 'add_multiple_sales'%}" method="get">
    <label>How many sales do you want to record at a go?</label>
    <input type="number" name="count"><input type="submit" value="Record Sales" />
</form><br>
<form action="" method="POST">
    {% csrf_token%}
    {{formset.management_form}}
    {% for form in formset %}
        {{form.as_table}}<br/>
    {% endfor%}
    <h3><input  type="submit" value="Add Sales"/></h3>
    <h3><a href="{% url 'view_sales' %}">View Sales</a></h3>
</form>
</div>
{% endblock content %}